{% extends 'base.html.twig' %}

{% block title %}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        .info-card{
            max-width: 760px;
            margin: 24px auto 0;
            padding: 22px;
            border-radius: 16px;
            background: rgba(255,255,255,.06);
            border: 1px solid rgba(255,255,255,.12);
        }

        .info-card h1{
            margin: 0 0 8px;
            font-size: clamp(1.6rem, 2.5vw, 2.2rem);
        }

        .info-card p{
            margin: 0 0 16px;
            color: rgba(255,255,255,.66);
        }

        .info-card .meta{
            font-size: .95rem;
            color: rgba(255,255,255,.66);
        }
        .LogOutBtn{

        }
    </style>
{% endblock %}
{% block body %}

    <header class="topbar">
        <button class="LogOutBtn">Logout</button>
    </header>



    <section class="info-card">
        <h1>Hello {{ Username }}! </h1>
        <p>{% for Role in Roles %}{{ Role }}{% endfor %}</p>

    </section>



{% endblock %}
