{% extends 'base.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}

{% block body %}
<style>

</style>

    <div class="auth-wrapper">
        <div class="auth-card">
            <h1>Login</h1>
            {{ form_start(Login) }}
            {{ form_row(Login.username) }}
            {{ form_row(Login.password) }}
            <button class="authbtn" type="submit">Login</button>
            {{ form_end(Login) }}
        </div>
    </div>

{% endblock %}
